*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.panner_container{
    background: linear-gradient(180deg, #fde1ff 10%, #753e58 60%) ;
    display: flex;
    justify-content: space-between;
    height: 390px;
} 
.panner_left{
    flex: 1;
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 180px;
    gap: 20px;
    line-height: 1.1;
}
.panner_left h2{
    color: #090909;
    font-size: 20px;
    font-weight: 600;
}
.panner_left p{
    color: #171717;
    font-size: 60px;
    font-weight: 700;
}
.contant{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.latest{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 26px;
    font-weight: 500;
    cursor: pointer;
}
.latest:active{
    background-color: #753e58;
}
.panner_right{
    display: flex;
    flex-direction: column;
}
.model{
    width: 300px;
    margin-top: 55px;
    margin-right: 80px;
    height: 330px;
}