*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sign_cont{
    width: 100%;
    padding: 50px 100px 50px 100px;
    background-color: #fce3fe;    
}
.signin_page{
    width: 580px;
    height: 450px;
    background-color: white;
    margin: auto;
    padding: 40px 60px;
}
.signin_page h1{
    margin: 20px 0;
}
.signin_fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.signin_fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #9c9c9c;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.submit_cont{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 500px;
}
.sign_cont button{
    width: 120px;
    height: 32px;
    margin-right: 40px;
    color: white;
    background-color: #ff4141;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.sign_cont p{
    font-size: 24px;
    font-weight: 600;
    color: #5c5c5c;
}
.sign_cont button:active{
    background-color: #d67a5e;
}
.signin_page p{
    font-size: 16px;
    color: #242222;
    font-weight: 600;
}